<div class="m-my-area">
  <div class="container">
    <h2><%= t '.title' %></h2>

    <p><%= t '.description' %></p>

    <%= simple_form_for :password, url: passwords_path do |form| %>
      <%= form.input :email %>
      <%= form.button :submit %>
    <% end %>
  </div>
</div>
