<li>
  <div class="learning">
    <div class="avatar"><%= link_to gravatar_for(post.user), post.user %></div>
    <div class="learning-content">
      <div class="header">
        <h4 class="inline"><%= post.user.display_name %></h4>
        <h6 class="inline"><%= time_ago_in_words(post.created_at) %> ago</h6>
        <% if current_user == post.user %>
          <%= link_to t('posts.destroy.link'), post_path(post), method: :delete %>
        <% end %>
      </div>
      <p><%= post.lesson %></p>
      <% post.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag.name), class: 'tag' %>
      <% end %>
    </div>
  </div>
</li>
