<div class="m-my-area">
  <div class="container">
    <div class="l-text-learning">
      <div class="m-input">
        <h3>Today I Learned:</h3>
        <%= simple_form_for @post do |f| %>
          <%= f.input :lesson %>
          <%= f.input :tag_list %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
    <div class="l-landing-stats">
      <div class="m-stats">
        <h3>Stats</h3>
        <div class="well"></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <section>
    <h3>Learnings</h3>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">Friend's Learnings</a>
      </li>
      <li><a href="#">My Learnings</a></li>
    </ul>
    <ul>
      <% @posts.each do |post| %>
        <li>
          <div class="learning">
            <div class="avatar"></div>
            <div class="learning-content">
              <h4 class="inline">Person's Name</h4>
              <h6 class="inline"><%= time_ago_in_words(post.created_at) %> ago</h5>
              <p><%= post.lesson %></p>
              <% post.tags.each do |tag| %>
                <div class="badge"><%= tag %></div>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </section>

  <aside>
    <div class="m-tags">
      <h3>Popular Tags</h3>
        <div class="badge">This is a tag</div>
        <div class="badge">This is other tag</div>
        <div class="badge">Tag</div>
        <div class="badge">This is another tag</div>
        <div class="badge">This is a tag</div>
        <div class="badge">This is another tag</div>
    </div>
  </aside>

<!--
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">My Subscriptions</a>
    </li>
    <li><a href="#">My Followers</a></li>
    <li><a href="#">Everybody</a></li>
  </ul>

  <table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Popular Learnings</th>
    <th>Subscription</th>
  </tr>
    <tr>
      <td>Adam Nameson</td>
      <td>
        <div class="badge">This is a tag</div>
        <div class="badge">Tag</div>
        <div class="badge">Tis a tag</div>
      </td>
      <td>
        <button class="btn-mini">Unsubscribe</button>
      </td>
    </tr>
    <tr>
      <td>Boris With a Very Long Middlename Nameson</td>
      <td>
        <div class="badge">A tag</div>
        <div class="badge">Tag</div>
        <div class="badge">This is a tag</div>
      </td>
      <td>
        <button class="btn-mini">Subscribe</button>
      </td>
    </tr>

  </table>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">My Tags</a>
    </li>
    <li><a href="#">My Follower's Tags</a></li>
    <li><a href="#">All Tags</a></li>
  </ul>

  <table class="table table-striped">
    <tr>
      <th><p>Name</p></th>
      <th><p>Number of occurances</p></th>
      <th><p>Subscription</p></th>
    </tr>
    <tr>
      <td><div class="badge">Apes</div></td>
      <td><p>234</p></td>
      <td>
        <button class="btn-mini">Unsubscribe</button>
      </td>
    </tr>

  </table>
-->
</div> <!-- container -->
