<% content_for :top_container do %>
  <%= render 'form' %>
  <div class="l-landing-stats">
    <label for="">Statistics</label>
    <div class="m-stats">
    </div>
  </div>
<% end %>

<div class="container">
  <section>
    <ul>
      <%= render @posts %>
    </ul>

    <div class="pagination-info">
      <%= page_entries_info @posts, model: 'lesson' %>
      <%= will_paginate %>
    </div>
  </section>

  <aside>
    <%= render 'tag_cloud' %>
  </aside>
</div>
