<% content_for :top_container do %>
  <%= render 'form' %>
  <div class="l-landing-stats">
    <label for=""><p>Statistics</p></label>
    <div class="m-stats">
    </div>
  </div>
<% end %>

<% content_for :filter_tabs do %>
  <div class="tab-section">
    <div class="container">
      <%= render 'filter_tabs' %>
    </div>
  </div>
<% end %>

<div class="container">
  <section>
    <ul>
      <%= render @posts %>
    </ul>

    <div class="pagination-info">
      <p><%= page_entries_info @posts, model: 'lesson' %>
      <%= will_paginate %></p>
    </div>
  </section>

  <aside>
    <%= render 'tag_cloud' %>
  </aside>
</div>
