<header>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Today I Learned', root_path, class: 'brand' %>
        <% if signed_in? -%>
          <ul class="nav">
            <%= nav_tab(controller: 'posts', text: 'Home', path: root_path) %>
            <%= nav_tab(controller: 'users', text: 'People') %>
            <%= nav_tab(controller: 'tags', text: 'Tags') %>
          </ul>
          <ul class="nav pull-right">
            <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
          </ul>
        <% end -%>
        <div class="clearfix"></div>
      </div>
      <%= render 'flashes' -%>
    </div>
  </div>
</header>
