<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title %></title>
    <%= stylesheet_link_tag :application, :media => 'all' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/ijf8eue.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="<%= body_class %>">
    <%= render 'header' -%>

    <div class="m-my-area">
      <div class="container">
        <%= yield :top_container %>
      </div>
    </div>

    <%= yield :filter_tabs %>

    <%= yield %>

    <%= render 'javascript' %>
  </body>
</html>
